body{
    background-color: black;
    color: white;
}
h1, .h2{
    text-align: center;
}
.menu{
    text-align: center;
}
#btnFight{
    height: 2.5em;
    width: 5em;
    background-color: yellow;
}

.generalContainer{
    height: 30em;
    width: 40em;
    background-color:black;
    margin: auto;
    width: 60%;
    
}
.menuSeleccion{
    display: flex;
    flex-direction: row;
}
.option{
    width: 120px;
}
#fighter1, #fighter2, #fighter3, #fighter4, #fighter5, #fighter6{
    height: 200px;
    width: 100px;
    background-size: 100px 200px;
    
}

#fighter1{
    background-image: url("/img/tyler.jpg");
}

#fighter2{
    background-image: url("/img/jack.jpg");
}

#fighter3{
    background-image: url("/img/angelFace.jpg");
}

#fighter4{
    background-image: url("/img/mechanic.jpg");
}
#fighter5{
    background-image: url("/img/meatloaf.jpg");
}

#fighter6{
    background-image: url("/img/thomas.jpg");
}

#barraVida1,#barraVida2{
    height: 2em;
    width: 20em;
    background-color: green;
}

#barraVida2{
    width: 20em;
}

#barraVida2{
    width: 20em;
}
.btnSelection{
    align-items: center;

}

#selPlayers{
    height: 10em;
    width: 30em;
    display: flex;
    /*flex-wrap: wrap; */
    flex-direction: row;
    align-items: center;
    justify-content: justify;
    flex-flow: column wrap;
}
#player1, #player2{
    width: 50%;
}
#menuFightersP1, #menuFightersP2{
    margin-left: 20px;
    margin-right: 20px;
}